/* Styles de base */
.login {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}

/* Media Queries pour tablettes et mobiles */
@media screen and (max-width: 768px) {
  .login {
    padding: 20px; /* Ajout d'un padding pour plus d'espace sur les côtés */
  }
  
  .lInput {
    width: calc(100% - 20px); /* Ajustement de la largeur des inputs */
  }
  
  .lButton {
    width: 100%; /* Les boutons prennent toute la largeur */
  }
}
