.datatable {
  height: 600px;
  padding: 20px;
  
  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      border: none;
      padding: 2px 5px;
      border-radius: 5px;
      min-width: 64px;
      
      vertical-align: middle;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: uppercase;
      color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      background-color: rgb(16, 198, 107);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      transition: box-shadow 0.2s;
    }
  }
  

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
    
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
    .pure-material-button-contained {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      border: none;
      padding: 2px 5px;
      border-radius: 5px;
      min-width: 64px;
      
      vertical-align: middle;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: uppercase;
      color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      transition: box-shadow 0.2s;
  }
  
  .pure-material-button-contained::-moz-focus-inner {
      border: none;
  }
  
  /* Overlay */
  .pure-material-button-contained::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      opacity: 0;
      transition: opacity 0.2s;
  }
  
  /* Ripple */
  .pure-material-button-contained::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      padding: 50%;
      width: 32px; /* Safari */
      height: 32px; /* Safari */
      background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      opacity: 0;
      transform: translate(-50%, -50%) scale(1);
      transition: opacity 1s, transform 0.5s;
  }
  
  /* Hover, Focus */
  .pure-material-button-contained:hover,
  .pure-material-button-contained:focus {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .pure-material-button-contained:hover::before {
      opacity: 0.08;
  }
  
  .pure-material-button-contained:focus::before {
      opacity: 0.24;
  }
  
  .pure-material-button-contained:hover:focus::before {
      opacity: 0.3;
  }
  
  /* Active */
  .pure-material-button-contained:active {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .pure-material-button-contained:active::after {
      opacity: 0.32;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0s;
  }
  
  /* Disabled */
  .pure-material-button-contained:disabled {
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
      box-shadow: none;
      cursor: initial;
  }
  
  .pure-material-button-contained:disabled::before {
      opacity: 0;
  }
  
  .pure-material-button-contained:disabled::after {
      opacity: 0;
  }

  .pure-material-button-containedd {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
    min-width: 64px;
    
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(232, 11, 99);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-containedd::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-containedd::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-containedd::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-containedd:hover,
.pure-material-button-containedd:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-containedd:hover::before {
    opacity: 0.08;
}

.pure-material-button-containedd:focus::before {
    opacity: 0.24;
}

.pure-material-button-containedd:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-containedd:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-containedd:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-containedd:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-containedd:disabled::before {
    opacity: 0;
}

.pure-material-button-containedd:disabled::after {
    opacity: 0;
}
  }

  @media screen and (max-width: 768px) {
    // Styles spécifiques pour les tablettes
    padding: 10px; // Ajuster la marge
    .datatableTitle {
      font-size: 20px; // Ajuster la taille de la police
    }
    .cellWithImg .cellImg {
      width: 24px; // Ajuster la taille de l'image
      height: 24px;
      margin-right: 10px; // Ajuster la marge
    }
    .cellAction {
      gap: 10px; // Ajuster l'espacement entre les éléments
    }
  }

  @media screen and (max-width: 480px) {
    // Styles spécifiques pour les mobiles
    padding: 5px; // Réduire davantage la marge
    .datatableTitle {
      font-size: 18px; // Ajuster la taille de la police
    }
    .cellWithImg .cellImg {
      width: 16px; // Ajuster la taille de l'image
      height: 16px;
      margin-right: 5px; // Ajuster la marge
    }
    .cellAction {
      gap: 5px; // Ajuster l'espacement entre les éléments
    }
  }
}
